.infoGrid Button, .inGridButton {
    -fx-max-height: 20;
    -fx-padding: 0 3 0 3;
}

.inGridButton {
    -fx-padding: 0 3 0 3;
    -fx-max-height: 20;
    -fx-min-height: 20;
    -fx-min-width: 20;
    -fx-min-width: 20;
}

.inGridButton Label {
    -fx-padding: 0;
}

.infoGrid Label, .infoGrid TextFlow {
    -fx-max-height: 12;
}

.inGridEditor {
    -fx-padding: 0 1 0 1;
    -fx-max-height: 20;
}

.baseInfo ListView {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: black;
    -fx-padding: 5 0 0 0;
}

.commandButton {
    -fx-pref-height: 25;
    -fx-min-height: 25;
    -fx-max-height: 25;
    -fx-pref-width: 100;
}

.gridButton {
    -fx-pref-height: 18;
    -fx-padding: 2 0 2 0;
    -fx-max-width: Infinity;
}

Label, TextFlow, Text {
    -fx-font-weight: 100;
    -fx-font-size:9pt;
    -fx-padding: 0 3 0 3;
    -fx-fill: lime;
    -fx-text-fill: lime;
    -fx-alignment: baseline-center;
}

Button {
    -fx-background-color: #222;
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-fill: lime;
    -fx-text-fill: lime;
    -fx-text-alignment: center;
    -fx-alignment: baseline-center;
}

Button:hover {
    -fx-background-color: #333;
}

Button:pressed {
    -fx-background-color: #444;
}

Button TextFlow {
    -fx-text-alignment: center;
}

.baseInfo Label, .baseInfo Text{
    -fx-fill: royalblue;
    -fx-text-fill: royalblue;
}

.shipInfo Label, .shipInfo Text{
    -fx-fill: #55ffff;
    -fx-text-fill: #55ffff;
}


ListView {
    -fx-padding: 0;
    -fx-background-color: #111;
}

ListView ListCell {
    -fx-padding: 0;
    -fx-background-color: #111;
    -fx-pref-height: 20;
}

.objectsListCell:selected {
    -fx-background-color: #004d4d;
}

.storageList {
    -fx-pref-height: 50;
}

.storageList .storageListCount {
    -fx-pref-width: 30;
    -fx-min-width: 30;
    -fx-max-width: 30;
}

.informationView {
    -fx-background-color: black;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: gray;
    -fx-padding: 3;
}

.complexLabel {
    padding: 0;
}

.complexLabel Label {
    padding: 0;
}

.actionSymbol {
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-fill: white;
}

.buildShipView {
    -fx-background-color: black;
}

.buildShipView Label {
    -fx-text-fill: darkgray;
    -fx-fill: darkgray;
}

.buildShipView .itemsView {
    -fx-border-color: dimgray;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-padding: 6 0 6 0;
}

.buildShipView .hullList {
    -fx-min-width: 250;
}

.buildShipView .engineList {
    -fx-min-width: 150;
}

.buildShipView .beamList {
    -fx-min-width: 125;
}

.buildShipView .launcherList {
    -fx-min-width: 125;
}


.buildShipView .itemsListItem {
}

.buildShipView .itemsListItem:hover {
    -fx-background-color: #444;
}

.buildShipView .currentHullInfoView {
    -fx-min-width: 300;
}

.buildShipView .currentHullInfoView .hullName {
    -fx-text-fill: gold;
    -fx-fill: gold;
    -fx-font-weight: bold;

}

.buildShipView .currentHullInfoView .specialFunction {
    -fx-text-fill: deepskyblue;
    -fx-fill: deepskyblue;
}