.infoGrid Label {
    -fx-padding: 1 3 1 3;
}

.baseInfo ListView {
    -fx-border-width: 1 0 0 0;
    -fx-border-color: black;
    -fx-padding: 5 0 0 0;
}

.commandButton {
    -fx-pref-height: 20;
}

.gridButton {
    -fx-pref-height: 20;
    -fx-max-width: Infinity;
}

Label, TextFlow, Text {
    -fx-font-weight: 100;
    -fx-font-size: 10pt;
    -fx-padding: 1 3 1 3;
    -fx-fill: lime;
    -fx-text-fill: lime;
}

Button {
    -fx-background-color: #222;
    -fx-border-color: gray;
    -fx-border-width: 1;
    -fx-fill: lime;
    -fx-text-fill: lime;
    -fx-text-alignment: center;
    -fx-alignment: baseline-center;
}

Button:hover {
    -fx-background-color: #333;
}

Button:pressed {
    -fx-background-color: #444;
}

Button TextFlow {
    -fx-text-alignment: center;
}

.baseInfo Label, .baseInfo Text{
    -fx-fill: royalblue;
    -fx-text-fill: royalblue;
}

.actionSymbol {
    -fx-font-weight: bold;
    -fx-underline: true;
    -fx-fill: white;
}

ListView {
    -fx-padding: 0;
    -fx-background-color: #111;
}

ListView ListCell {
    -fx-padding: 0;
    -fx-background-color: #111;
    -fx-pref-height: 20;
}

.objectsListCell {
    -fx-text-fill: aqua;
    -fx-fill: aqua;
}

.objectsListCell:selected {
    -fx-background-color: #004d4d;
}

.storageList {
    -fx-pref-height: 50;
}

.storageList .storageListCount {
    -fx-pref-width: 30;
    -fx-min-width: 30;
    -fx-max-width: 30;
}

.informationView {
    -fx-background-color: black;
    -fx-border-width: 0 0 0 3;
    -fx-border-color: gray;
    -fx-padding: 3;
    -fx-min-width: 300;
    -fx-min-height: 700;
}